<p><code>Date :</code> Cet evenement a lieu quand ?</p>
<div class="row">
  <div class="col col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           class="form-control"
           #dp="bsDatepicker"
           bsDatepicker
           [bsValue]="bsValue"
    (bsValueChange)="OnChange()">
  </div>
  <div class=" form-group" >
    <button class="btn btn-success" (click)="dp.toggle()" [value]="event.date" [attr.aria-expanded]="dp.isOpen" type="button">Date Picker</button>
  </div>
</div>


