<div class="modal-header">
  <h3 class="modal-title pull-left" style="text-align: center">Connexion </h3>
  <button  class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <alert type="danger" *ngIf="Error == true">
  <strong>Oops!</strong> C'est pas bien enregistré!!.<br> {{errorMsg}}
</alert>
  <alert type="info" *ngIf="wait == true">
    <strong>Wait ..</strong>
  </alert>
  <div  *ngIf="loading == false" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
    </div>
  </div>
  <form [formGroup]="Connexion"  *ngIf="!loading" (ngSubmit)="connexion()">

  <div class="form-group">
    <label>Email:</label>
    <input type="text" class="form-control" formControlName="email">
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input type="password" class="form-control" formControlName="password">
    <a href="" style="color: #424f95">mot de passe oublie ?</a>
  </div>

    <button type="submit" class="btn btn-success" [disabled]="Connexion.invalid" style="margin-left: 85px;margin-bottom: 10px;size:60px" >Connecter</button>
  </form>
</div>



